<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Automation Testing">

<listeners>
<listener class-name="com.qa.utility.Reporting"></listener>
</listeners>

	<test thread-count="5" name="Functional Testing">
		<parameter name="Browser" value="Chrome"></parameter>
		<parameter name="URL" value="https://www.nykaa.com/"></parameter>

		<classes>

			<class name="com.qa.testscript.TestScript_Nykaa" />
			


		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
